[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
python-decouple = "*"
dj-database-url = "*"
djangorestframework = "*"
dateutils = "*"
python-dateutil = "*"
freezegun = "*"
gunicorn = "*"
whitenoise = "*"
django-test-without-migrations = "*"


[dev-packages]

ipdb = "*"
mock = "*"
django-test-without-migrations = "*"
model-mommy = "*"
freezegun = "*"


[requires]

python_version = "3.6"
